.welcome {
    font-family: 'Montserrat';
    margin-top: 5em;
    margin-left: 10%;
}

.name{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2em;
    margin-top: .7em;
    margin-left: 10%;
}

.self-title {
    font-family: 'Poppins';
    font-size: .9em;
    font-weight: bold;
    color: rgb(225, 0, 255);
    margin-top: .7em;
    margin-left: 10%;
}

.self-definition {
    font-family: 'Montserrat';
    margin-top: .7em;
    margin-left: 10%;
}

.ironhack-logo {
    width: 40px;
}

.photographer {
     margin-top: 1.6em;
}

.language-logo {
    width: 6%;
    margin-right: 1%;
}

.language-logos {
    margin-left: 10%;
}