#home {
  height: 100vh;
  overflow: hidden;
  margin-top: 3em;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__container a:hover {
  color: var(--color-black);
}

.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 10rem;
}

.me {
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me img {
  border-radius: 50%;
  margin-top: -3.5em;

}
.me img:hover {
  filter: grayscale(100%);
  transition: var(--transition);
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 12rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.scroll__down:hover {
  color: var(--color-primary)
}

/* MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
  #home {
    height: 100vh;
  }
}


/* SMALL DEVICES */
@media screen and (max-width: 600px) {
  #home {
    height: 100vh;
  }

  .header__socials {
    display: inline;
    top: 1.5em;
    position: relative;
  }

  .header__socials a {
    padding: 1.8em;
    display: inline;
  }

  .scroll__down {
    display: none;
  }

  .me {
    width: 94%;
    max-width: 20rem;
    margin-top: -2.8rem;
    justify-content: center;
    top: 18em;
  }

  .me img {
   margin-top: -4em;
  }

  .cta {
    margin-top: 1.7rem;
    gap: 1rem;
  }
}
