.welcome {
    font-family: 'Montserrat';
    margin-top: 7em;
    font-size: 1.2em;
}

.name{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2.2em;
    margin-top: .7em;
}

.self-title {
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: bold;
    color: rgb(24, 24, 24);
    margin-top: .7em;
}

.self-definition {
    font-family: 'Montserrat';
    margin-top: .7em;
}

.language-logos {
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.219);
    padding: 2%;
    border: 1px solid rgba(250, 253, 255, 0.18);
    border-radius: 20px;
    display: flex;
}

.language-logos img {
    flex: 1;
}
