.box {
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 20px;
    padding: 1em;
    font-size: 14px;
    font-family: 'Montserrat';
    hyphens: auto;
    /* box-shadow: 0 6px 16px 0 rgba(255, 255, 255, 0.233); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(250, 253, 255, 0.18);
}

.profile-picture {
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    /* box-shadow: 0 6px 16px 0 rgba(225, 1, 255, 0.295); */
}


@media (max-width: 768px) {
  .box {
      width: 90%;
  }
  .profile-picture {
      width: 85%;
  }
}

.box a {
    text-decoration: none;
    color: white
}

.box a:hover {
    color: white;
    font-weight: bold;
}

.box:hover {
    background-color: transparent;
}