.welcome {
    font-family: 'Montserrat';
    margin-top: 3em;
    font-size: 1.2em;
}

.name{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2.2em;
    margin-top: .3em;
}

.self-title {
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: bold;
    color: rgb(24, 24, 24);
    margin-top: .5em;
}

.self-definition {
    font-family: 'Montserrat';
    margin-top: 1.5em;
    color: rgb(26, 26, 26);
    font-size: 90%;
}

.language-logos {
    margin-top: 4%;
    background-color: rgba(255, 255, 255, 0.219);
    padding: 2%;
    border: 1px solid rgba(250, 253, 255, 0.18);
    border-radius: 20px;
    display: flex;
}

.language-logos img {
    flex: 1;
}

@media (max-width: 768px) {
  .welcome {
      text-align: center;
    } 
  .name {
      text-align: center;
    } 
  .self-title{
      text-align: center;
    } 
  .self-definition {
      text-align: center;
      margin-bottom: 1.8em;
    }
}